@font-face {
  font-family: Gilroy;
  src: url(./fonts/gilroy/Gilroy-Regular.ttf);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* #FBD784
#0B1D26  */

.gradient-overlay {
  background: linear-gradient(
      to bottom right,
      rgba(15, 25, 35, 0.85) 0%,
      rgba(15, 25, 35, 0.85) 30%,
      rgba(15, 25, 35, 0.40) 40%,
      rgba(15, 25, 35, 0.00) 100%
    ),
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  /* position: relative; */
  margin-top: 30px;
  gap: 350px;
  height: 100%;
}

.menu-list {
  display: flex;
  color: white;
  list-style-type: none;
  gap: 25px;
  font-family: Gilroy;
}

.icon-list {
  display: flex;
  color: white;
  gap: 10px;
  font-family: Gilroy;
}

a {
  text-decoration: none;
  color: white;
}

.image-01 {
  position: absolute;
  z-index: -1;
  top: 0%;
}

.image-1 {
  height: 900px;
  width: 1280px;
}

.image-2 {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  opacity: 0.7;
  width: 1280px;
  height: 350px;
}

.image-02 {
  position: absolute;
  z-index: -1;
  top: 0%;
}

.image-3 {
  position: absolute;
  width: 1280px;
  height: 700px;
  top: 300px;
}

.image-4 {
  position: absolute;
  width: 1280px;
  height: 500px;
  top: 550px;
}

.socials {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.social-image {
  position: absolute;
  height: 150px;
  left: 80px;
  top: 150px;
}

.hero-sections-1 {
  display: flex;
  justify-content: space-between;
}

.heading-4 {
  position: absolute;
  font-size: 20px;
  font-family: Gilroy;
  color: #FBD784;
  top: 120px;
  left: 430px;
  letter-spacing: 10px;
}

.heading-1 {
  position: absolute;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  width: 140vh;
  color: white;
  top: 160px;
  left: 350px;
}

.slider-image {
  position: absolute;
  font-size: 25px;
  height: 320px;
  top: 100px;
  left: 1100px;
}

.heading-5 {
  position: absolute;
  font-family: Gilroy;
  font-size: 15px;
  color: rgb(204, 204, 204);
  top: 300px;
  left: 350px;
  line-height: 40px;
}

.left-content {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 150vh;
  width: 100vw;
  background-color: #0B1D26;
  top: 1000px;
}

.heading-05 {
  position: absolute;
  color: #FBD784;
  font-size: 40px;
  font-family: Gilroy;
  top: 30px;
  left: 250px;
}

.heading-01 {
  display: flex;
  justify-content: space-between;
}

.heading-001 {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: Gilroy;
  width: 250px;
  top: 1100px;
  left: 250px;
  line-height: 60px;
}

.paragraph-01 {
  display: flex;
  justify-content: space-between;
  height: 200vh;
}

.para-1 {
  position: absolute;
  color: white;
  font-family: Gilroy;
  font-size: 25px;
  top: 1400px;
  left: 250px;
  width: 400px;
  background-color: #0B1D26;
}

.heading-005 {
  display: flex;
  justify-content: space-between;
}

.heading--5 {
  position: absolute;
  color: #FBD784;
  font-size: 20px;
  font-family: Gilroy;
  top: 1730px;
  left: 250px;
  letter-spacing: 10px;
  cursor: pointer;
}

.right-image {
  display: flex;
  justify-content: space-between;
}

.image-001 {
  position: absolute;
  height: 500px;
  width: 400px;
  top: 1200px;
  left: 750px;
}

.image-002 {
  display: flex;
  justify-content: space-between;
}

.image--2 {
  position: absolute;
  height: 500px;
  width: 400px;
  top: 2000px;
  left: 100px;
}